/* PGN css. Modified excerpt from http://lichess1.org/assets/stylesheets/analyse.css?v=351 */

#le-GameText{font-size:12px;padding:5px 7px;border:1px solid #ccc;overflow:auto;position:absolute;top:33px;left:241px;border-radius:0 2px 2px 0;max-height:160px;width:125px;}
#le-GameText .le-move{font-family:'pgn4web ChessSansPiratf','pgn4web Liberation Sans',sans-serif;text-decoration:none;padding-top:3px;padding-bottom:3px;display:inline;color:#b57600;color:#444;}
#le-GameText span{padding-right:0;}
#le-GameText a{padding-right:4px;padding-left:4px;}
#le-GameText a:hover{background:#e0e0e0;}
#le-GameText .comment{font-size:80%;display:block;}
#le-GameText .moveOn{border:1px solid #909090;padding:2px 3px;}
#le-GameText .moveNew{background-color:rgba(155,199,00,0.33);padding:2px 3px;}

body > .content {
	position: relative;
	right: 30px;
}

div.le-game_control {
	position: absolute;
	top: 10px;
	right: -136px;
}

div.le-game_control a {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	font-size:10px;
	height: 16px;
	padding: 2px 7px;
	margin-left:-2px;
	margin-right:-2px;
}

#le-black-score, #le-white-score {
	position: absolute;
	right: 0;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 16px;
	font-weight: bold;
}

/* white and black don't always appear in same order, so we do it like this. */

.clock_top div:last-child, .lichess_table_wrap > div:first-child:not(.clock) {
	border-radius: 2px 2px 0 0;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.clock_bottom div:last-child, .lichess_table_wrap > div:last-child:not(.clock) {
	border-radius: 0 0 2px 2px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.clock_top div:last-child { top: 10px; }
.clock_bottom div:last-child { top: 0px; }

/* For non-time-controlled games */

.lichess_table_wrap > div:first-child:not(.clock) {
	top: -23px;
}

.lichess_table_wrap > div:last-child:not(.clock) {
	bottom: -23px;
}