<div class="le-game_control">
	<div id="GameButtons">
		<form name="GameButtonsForm">
			<a id="startButton" class="button buttonControl hint--top" data-hint="go to game start">
				<span data-icon="W"></span>
			</a>

			<a id="backButton" class="button buttonControl hint--top" data-hint="move backward">
				<span data-icon="Y"></span>
			</a>

			<a id="autoplayButton" class="buttonControlPlay button hint--top" name="AutoPlay" data-hint="toggle autoplay (start)">
				<span data-icon="G"></span>
			</a>

			<a id="forwardButton" class="button buttonControl hint--top" data-hint="move forward">
				<span data-icon="X"></span>
			</a>

			<a id="endButton" class="button buttonControl hint--top" data-hint="go to game end">
				<span data-icon="V"></span>
			</a>
		</form>
	</div>
</div>